.main-grid {
    display: grid;
    grid-template-rows: repeat(auto-fit,minmax(100px,1fr)) ;
    /* max-width: 1200px; */
    width: 100%;
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    margin: 0px auto;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.company-tech{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 8px;
    /* border-bottom: 1px groove whitesmoke; */
    /* border-bottom-left-radius: 5px; */
}
.tech-label{
    font-size: small;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    text-align: center;
}
.mTop10{
    
    margin-top: 10px;
    
}
.myCard{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
    grid-column-gap: 5px
}
@media (min-width: 1140px) {
    .main-grid {
        /* grid-template-columns: 1fr; */
        grid-column-gap: 48px;
        grid-row-gap: 48px;
    }
}